.cancelar-button {
  background-color: #e65d5d !important;
  color: black !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelar-button:hover {
  opacity: 1;
}

.ingresar-button {
  background-color: #003b93 !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.ingresar-button:hover {
  opacity: 1;
}

.control-form {
    background-color:#d9d9d9 !important;
}

.borderless-card {
    border: none !important;
  }
